<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Server</title>
</head>

<body>
<p>Сервер работает на порту 8090</p>

<header>
    <h1>
        Notes App Backend API
    </h1>
</header>

<main>
    <ul>
        <li>GET /getUsers</li>
        <li>GET /getUser/:id</li>
        <li>POST /addUser</li>
    </ul>
    <p>Примеры get-запросов:</p>
    <br />
    <p><a href="http://localhost:8090/getUser/1">http://localhost:8090/getUser/1</a></p>
    <p><a href="http://localhost:8090/getUsers">http://localhost:8090/getUsers</a></p>
</main>

</body>

</html>



