<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Server</title>
</head>

<body>

<header>
    <h1>
        Notes App Backend API - RESTful API
    </h1>
</header>

<main>
    <ul>
        <li>GET /users</li>
        <li>GET /users/:id</li>
        <li>POST /users</li>
        <li>PUT /users</li>
        <li>DELETE /users/:id</li>
    </ul>


</main>

</body>

</html>



